/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} 

Modern browsers can animate four things really cheaply: position, scale, rotation and opacity.
https://www.html5rocks.com/en/tutorials/speed/high-performance-animations/
https://developer.mozilla.org/en-US/docs/Web/API/Web_Animations_API/Using_the_Web_Animations_API
*/


:root {
  --main-length: 88px;
}

/* surface marks surfaces to be displayed */
.surface {
  background: black;
}

/* wrapper or container for the grid */
.gridWrap {
  max-width: 360px; /* så bliver den ikke bredere */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 10px;

  margin: auto; /* centrerer */
  padding: 10px; /* Giver lidt intern plads, ideelt til fx mobil - måske bedre egnet til media queries */

  background: green;
  color: white;

  justify-items: stretch;

  /* no touchy */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes powEffect {
  0% {
    /* background-color: #000;
    top: 0px; */
    transform: scale3d(1.0, 1.0, 1.0);
  }
  5% {
    /* background-color: #eee;
    top: -15px; */
    transform: scale3d(0.95, 0.95, 0.95);
  }
  100% {
    /* background-color: #333;
    top: 0px; */
    transform: scale3d(1.0, 1.0, 1.0);
  }
}



.cssPickedAni {
  /* position: relative; */
  animation: powEffect 0.5s forwards;
  /* transform: scale3d(1.3, 1.3, 1.3); */
}

/* .cssPickedAni {
  background-color: #333;
  transition: background-color 0.005s ease-in-out 0s;
} */

/* above the board */
.header {
  grid-column: 1/4;
  display: grid;
  align-items: center; /* centrerer */
  justify-items: center; /* centrerer */

  border-radius: 15px;
  height: var(--main-length);
  background: black;

  /* margin-bottom: 10px; */
}

/* the grid container for the board */
.board {
  grid-column: 1/4;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

  margin: auto; /* centrerer */
  padding: 10px; /* Giver lidt intern plads, ideelt til fx mobil - måske bedre egnet til media queries */

  background: green;
  color: white;

  justify-items: stretch;
}

/* tiles make out the board */
.tile {
  display: grid;
  align-items: center; /* centrerer */
  justify-items: center; /* centrerer */

  height: var(--main-length);
  width: var(--main-length);
  /* border: 2px #ccc solid; */
  border-radius: 15px;

  color: red;
  font-weight: 600;
}

/* below the board */
.footer {
  grid-column: 1/4;
  display: grid;
  align-items: center; /* centrerer */
  justify-items: center; /* centrerer */

  border-radius: 15px;
  height: var(--main-length);
  background: black;

  /* margin-top: 10px; */
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
